storage/schemas/htng/OTA_HotelResNotifRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.opentravel.org/OTA/2003/05"
           xmlns:tns="http://www.opentravel.org/OTA/2003/05"
           elementFormDefault="qualified">

  <!-- Root element for Reservation Notification Request -->
  <xs:element name="OTA_HotelResNotifRQ" type="tns:OTA_HotelResNotifRQType"/>

  <!-- Main Request Type -->
  <xs:complexType name="OTA_HotelResNotifRQType">
    <xs:sequence>
      <xs:element name="POS" type="tns:POSType" minOccurs="0"/>
      <xs:element name="HotelReservations" type="tns:HotelReservationsType"/>
    </xs:sequence>
    <xs:attribute name="EchoToken" type="xs:string" use="optional"/>
    <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional"/>
    <xs:attribute name="Target" type="xs:string" use="optional"/>
    <xs:attribute name="Version" type="xs:string" use="required"/>
    <xs:attribute name="ResStatus" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Point of Sale Type -->
  <xs:complexType name="POSType">
    <xs:sequence>
      <xs:element name="Source" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="ISOCountry" type="xs:string"/>
          <xs:attribute name="ISOCurrency" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Hotel Reservations Container -->
  <xs:complexType name="HotelReservationsType">
    <xs:sequence>
      <xs:element name="HotelReservation" type="tns:HotelReservationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Hotel Reservation -->
  <xs:complexType name="HotelReservationType">
    <xs:sequence>
      <xs:element name="POS" type="tns:POSType" minOccurs="0"/>
      <xs:element name="UniqueID" type="tns:UniqueIDType" maxOccurs="unbounded"/>
      <xs:element name="RoomStays" type="tns:RoomStaysType"/>
      <xs:element name="ResGuests" type="tns:ResGuestsType"/>
      <xs:element name="ResGlobalInfo" type="tns:ResGlobalInfoType"/>
    </xs:sequence>
    <xs:attribute name="ResStatus" type="xs:string" use="optional"/>
    <xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional"/>
    <xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional"/>
  </xs:complexType>

  <!-- Unique ID Type -->
  <xs:complexType name="UniqueIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Type" type="xs:string" use="required"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:attribute name="ID_Context" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Room Stays Container -->
  <xs:complexType name="RoomStaysType">
    <xs:sequence>
      <xs:element name="RoomStay" type="tns:RoomStayType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Room Stay -->
  <xs:complexType name="RoomStayType">
    <xs:sequence>
      <xs:element name="RoomTypes" type="tns:RoomTypesType"/>
      <xs:element name="RatePlans" type="tns:RatePlansType"/>
      <xs:element name="RoomRates" type="tns:RoomRatesType"/>
      <xs:element name="GuestCounts" type="tns:GuestCountsType"/>
      <xs:element name="TimeSpan" type="tns:TimeSpanType"/>
      <xs:element name="Total" type="tns:TotalType" minOccurs="0"/>
      <xs:element name="BasicPropertyInfo" type="tns:BasicPropertyInfoType"/>
      <xs:element name="Comments" type="tns:CommentsType" minOccurs="0"/>
      <xs:element name="SpecialRequests" type="tns:SpecialRequestsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="RPH" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Room Types -->
  <xs:complexType name="RoomTypesType">
    <xs:sequence>
      <xs:element name="RoomType" type="tns:RoomTypeType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Room Type -->
  <xs:complexType name="RoomTypeType">
    <xs:attribute name="RoomTypeCode" type="xs:string" use="required"/>
    <xs:attribute name="RoomType" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Rate Plans for Reservation -->
  <xs:complexType name="RatePlansType">
    <xs:sequence>
      <xs:element name="RatePlan" type="tns:ReservationRatePlanType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Rate Plan for Reservation -->
  <xs:complexType name="ReservationRatePlanType">
    <xs:attribute name="RatePlanCode" type="xs:string" use="required"/>
    <xs:attribute name="RatePlanName" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Room Rates -->
  <xs:complexType name="RoomRatesType">
    <xs:sequence>
      <xs:element name="RoomRate" type="tns:RoomRateType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Room Rate -->
  <xs:complexType name="RoomRateType">
    <xs:sequence>
      <xs:element name="Rates" type="tns:RatesForReservationType"/>
    </xs:sequence>
    <xs:attribute name="RoomTypeCode" type="xs:string" use="required"/>
    <xs:attribute name="RatePlanCode" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Rates for Reservation -->
  <xs:complexType name="RatesForReservationType">
    <xs:sequence>
      <xs:element name="Rate" type="tns:RateForReservationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Rate for Reservation -->
  <xs:complexType name="RateForReservationType">
    <xs:sequence>
      <xs:element name="Base" type="tns:AmountType"/>
      <xs:element name="Taxes" type="tns:TaxesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="EffectiveDate" type="xs:date" use="required"/>
    <xs:attribute name="ExpireDate" type="xs:date" use="required"/>
  </xs:complexType>

  <!-- Amount Type -->
  <xs:complexType name="AmountType">
    <xs:attribute name="AmountBeforeTax" type="xs:decimal" use="required"/>
    <xs:attribute name="AmountAfterTax" type="xs:decimal" use="optional"/>
    <xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Taxes -->
  <xs:complexType name="TaxesType">
    <xs:sequence>
      <xs:element name="Tax" type="tns:TaxType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Amount" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <!-- Individual Tax -->
  <xs:complexType name="TaxType">
    <xs:attribute name="Amount" type="xs:decimal" use="required"/>
    <xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
    <xs:attribute name="TaxCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Guest Counts -->
  <xs:complexType name="GuestCountsType">
    <xs:sequence>
      <xs:element name="GuestCount" type="tns:GuestCountType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Guest Count -->
  <xs:complexType name="GuestCountType">
    <xs:attribute name="AgeQualifyingCode" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:enumeration value="10"/> <!-- Adult -->
          <xs:enumeration value="8"/>  <!-- Child -->
          <xs:enumeration value="7"/>  <!-- Infant -->
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Count" type="xs:int" use="required"/>
    <xs:attribute name="Age" type="xs:int" use="optional"/>
  </xs:complexType>

  <!-- Time Span -->
  <xs:complexType name="TimeSpanType">
    <xs:attribute name="Start" type="xs:date" use="required"/>
    <xs:attribute name="End" type="xs:date" use="required"/>
    <xs:attribute name="Duration" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Total -->
  <xs:complexType name="TotalType">
    <xs:attribute name="AmountBeforeTax" type="xs:decimal" use="required"/>
    <xs:attribute name="AmountAfterTax" type="xs:decimal" use="optional"/>
    <xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Basic Property Info -->
  <xs:complexType name="BasicPropertyInfoType">
    <xs:attribute name="HotelCode" type="xs:string" use="required"/>
    <xs:attribute name="HotelName" type="xs:string" use="optional"/>
    <xs:attribute name="ChainCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Comments -->
  <xs:complexType name="CommentsType">
    <xs:sequence>
      <xs:element name="Comment" type="tns:CommentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Comment -->
  <xs:complexType name="CommentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Special Requests -->
  <xs:complexType name="SpecialRequestsType">
    <xs:sequence>
      <xs:element name="SpecialRequest" type="tns:SpecialRequestType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Special Request -->
  <xs:complexType name="SpecialRequestType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Language" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Reservation Guests -->
  <xs:complexType name="ResGuestsType">
    <xs:sequence>
      <xs:element name="ResGuest" type="tns:ResGuestType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual Reservation Guest -->
  <xs:complexType name="ResGuestType">
    <xs:sequence>
      <xs:element name="Profiles" type="tns:ProfilesType"/>
    </xs:sequence>
    <xs:attribute name="ResGuestRPH" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryIndicator" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- Profiles -->
  <xs:complexType name="ProfilesType">
    <xs:sequence>
      <xs:element name="ProfileInfo" type="tns:ProfileInfoType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Profile Information -->
  <xs:complexType name="ProfileInfoType">
    <xs:sequence>
      <xs:element name="Profile" type="tns:ProfileType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Profile -->
  <xs:complexType name="ProfileType">
    <xs:sequence>
      <xs:element name="Customer" type="tns:CustomerType"/>
    </xs:sequence>
    <xs:attribute name="ProfileType" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Customer -->
  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="PersonName" type="tns:PersonNameType"/>
      <xs:element name="Telephone" type="tns:TelephoneType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Email" type="tns:EmailType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address" type="tns:AddressType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Person Name -->
  <xs:complexType name="PersonNameType">
    <xs:sequence>
      <xs:element name="NamePrefix" type="xs:string" minOccurs="0"/>
      <xs:element name="GivenName" type="xs:string"/>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="Surname" type="xs:string"/>
      <xs:element name="NameSuffix" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Telephone -->
  <xs:complexType name="TelephoneType">
    <xs:attribute name="PhoneNumber" type="xs:string" use="required"/>
    <xs:attribute name="PhoneTechType" type="xs:string" use="optional"/>
    <xs:attribute name="CountryAccessCode" type="xs:string" use="optional"/>
    <xs:attribute name="AreaCityCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Email -->
  <xs:complexType name="EmailType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="EmailType" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Address -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="AddressLine" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="CityName" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StateProv" type="tns:StateProvType" minOccurs="0"/>
      <xs:element name="CountryName" type="tns:CountryNameType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- State/Province -->
  <xs:complexType name="StateProvType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="StateCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Country Name -->
  <xs:complexType name="CountryNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Code" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Reservation Global Info -->
  <xs:complexType name="ResGlobalInfoType">
    <xs:sequence>
      <xs:element name="Total" type="tns:TotalType" minOccurs="0"/>
      <xs:element name="Guarantee" type="tns:GuaranteeType" minOccurs="0"/>
      <xs:element name="DepositPayments" type="tns:DepositPaymentsType" minOccurs="0"/>
      <xs:element name="CancelPenalties" type="tns:CancelPenaltiesType" minOccurs="0"/>
      <xs:element name="HotelReservationIDs" type="tns:HotelReservationIDsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Guarantee -->
  <xs:complexType name="GuaranteeType">
    <xs:sequence>
      <xs:element name="GuaranteesAccepted" type="tns:GuaranteesAcceptedType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Guarantees Accepted -->
  <xs:complexType name="GuaranteesAcceptedType">
    <xs:sequence>
      <xs:element name="GuaranteeAccepted" type="tns:GuaranteeAcceptedType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Guarantee Accepted -->
  <xs:complexType name="GuaranteeAcceptedType">
    <xs:sequence>
      <xs:element name="PaymentCard" type="tns:PaymentCardType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="GuaranteeCode" type="xs:string" use="optional"/>
    <xs:attribute name="GuaranteeType" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Payment Card -->
  <xs:complexType name="PaymentCardType">
    <xs:sequence>
      <xs:element name="CardHolderName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="CardType" type="xs:string" use="optional"/>
    <xs:attribute name="CardCode" type="xs:string" use="optional"/>
    <xs:attribute name="CardNumber" type="xs:string" use="optional"/>
    <xs:attribute name="ExpireDate" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Deposit Payments -->
  <xs:complexType name="DepositPaymentsType">
    <xs:sequence>
      <xs:element name="DepositPayment" type="tns:DepositPaymentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Deposit Payment -->
  <xs:complexType name="DepositPaymentType">
    <xs:attribute name="Amount" type="xs:decimal" use="optional"/>
    <xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Cancel Penalties -->
  <xs:complexType name="CancelPenaltiesType">
    <xs:sequence>
      <xs:element name="CancelPenalty" type="tns:CancelPenaltyType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Cancel Penalty -->
  <xs:complexType name="CancelPenaltyType">
    <xs:sequence>
      <xs:element name="Deadline" type="tns:DeadlineType" minOccurs="0"/>
      <xs:element name="AmountPercent" type="tns:AmountPercentType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Deadline -->
  <xs:complexType name="DeadlineType">
    <xs:attribute name="AbsoluteDeadline" type="xs:dateTime" use="optional"/>
    <xs:attribute name="OffsetTimeUnit" type="xs:string" use="optional"/>
    <xs:attribute name="OffsetUnitMultiplier" type="xs:int" use="optional"/>
    <xs:attribute name="OffsetDropTime" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Amount Percent -->
  <xs:complexType name="AmountPercentType">
    <xs:attribute name="Amount" type="xs:decimal" use="optional"/>
    <xs:attribute name="Percent" type="xs:decimal" use="optional"/>
    <xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Hotel Reservation IDs -->
  <xs:complexType name="HotelReservationIDsType">
    <xs:sequence>
      <xs:element name="HotelReservationID" type="tns:HotelReservationIDType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Hotel Reservation ID -->
  <xs:complexType name="HotelReservationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ResID_Type" type="xs:string" use="required"/>
        <xs:attribute name="ResID_Value" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>